<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a great way to collaborate on community-sourced content.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Online Encyclopedia</h2>
    <p>Create and edit articles</p>
  </div>

  <div class="col-md-4">
    <h2>Knowledge</h2>
    <p>Learn about anything you want</p>
  </div>

  <div class="col-md-4">
    <h2>Connect</h2>
    <p>collaborate with like minded people</p>
  </div>
</div>
